<form action="/search" method="get">
  <input type="text" placeholder="Search..." name="q">
  <button type="submit">Search</button>
</form>

<header >


  <h1><button data-text="Awesome" class="button">
    <span class="actual-text">&nbsp;Welcome to Mr.Tech&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Welcome&nbsp;</span>
</button></h1>


</header>
<main>
  <section>
      <ul class="list">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
      </ul>
  </section>
<section>
<h2>About Us</h2>   
</section>
<div class="description">
      <img src="C:\Users\mahmo\OneDrive\Desktop\vscode\calculator\html\images.jfif" class="photo" alt="" />
      <p> We inspect, analyze, and troubleshoot your systems and equipment. We run tests and interpret the results to make the effective recommendations to fix faulty or broken equipment. When necessary during repairs, We will source replacement parts and negotiate costs with suppliers and clients .</p>
</div>

</main>
<table class="my-table">
<tr>
<th>What's The Meaning Of Technician ?</th>
<th>What We Do ?</th>
      <th>Examples </th>
</tr>
<tr>
<td><a href="https://en.wikipedia.org/wiki/Technician" target="_blank">Go And Inspect</a></td>
<td><a href="https://www.zippia.com/technician-jobs/what-does-a-technician-do/" target="_blank">Go And Read </a></td>
      <td><a href="https://www.indeed.com/career-advice/finding-a-job/types-of-technicians" target="_blank">See Some Examples</a></td>
</tr>
</table>
<footer>
  <div class="card">
     <h3>Our Contact Info</h3>
     <ul class="list-unstyled">
      <li><a href="https://www.instagram.com/accounts/login/" target="_blank">Contact Us</a></li>

     </ul>
         <p>&copy; 2023 Mr Tech . All rights reserved.</p>
  </div>
 
</footer>
